# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# ML models
ml/models/
ml/experiments/

# Data
data/raw/
data/processed/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log